body {
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Italiana', sans-serif;
    font-size: 3.7vw;
    margin-bottom: 0;
}
p {
    font-family: 'Montserrat';
    font-size: 1.4vw;
    padding-bottom: 2vw;
    line-height: 1.7;
}
hr {
    width: 20%;
    height: 0.04vw;
    background-color: rgba(0, 0, 0, 0.736);
    border-style: solid;
    border-radius: 70%;
}
.top-container {
    background: radial-gradient(ellipse at bottom, #576086 0%, #161823 100%);
    background-color: #50577A;
    position: relative;
    height: 58vw;
    overflow: hidden;
}
.top-container .moon {
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    background: #f3f3edce;
    box-shadow: 0 0 25px 15px #f3f3ed85;
    position: absolute;
    left: 15%;
    top: 15%
}
.intro {
    position: absolute;
    top: 28%;
    left: 29.5%;
}
.name {
    color: #EFF5F5;
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 0 0 4px#f3f3edb5;
    margin: 0;
}
.name-sub {
    margin: 0;
    font-family: montserrat;
    font-size: 1.5vw;
    color: #8f9bb3;
    letter-spacing: 0.3vw;
    text-shadow: none;
}
.mountain {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.middle-container {
    padding-top: 2vw;
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 2vw;
}
.avatar {
    width: 50%; 
}
.projects {
    margin: 0 auto;
    width: 40vw;
}
.contact {
    margin: 0 auto;
    width: 35vw;
}
.contact .avatar{
    padding-top: 2vw;
}
.btn {
    border-radius: 12px;
    font-family: Italiana;
    color: #ffffff;
    font-size: 1.7vw;
    background-color: #50577A;
    padding: 0.7vw 9vw;
    text-decoration: none;
    transition: background-color 0.4s 0.5ms;
    letter-spacing: 0.1rem;
  }
.btn:hover {
    background-color: #68709a;
    text-decoration: none;
}

.bottom-container {
    font-family: 'Montserrat';
    margin-top: 1.5rem;
    background-color: #50577A;
    padding-top: 1%;
    padding-bottom: 1%;
}
.icon {
    font-size: 2vw;
    color: #c4cedf;
    text-decoration: none;
    transition: color 0.4s 0.5ms;
    margin: 0 2.5rem;
    padding-bottom: 0;
}
.icon:hover {
    color: #ffffff;
}
.copyright {
    font-size: 0.7vw;
    color: #c4cedf;
    padding-bottom: 0;
    margin-top: 0.3vw;
    margin-bottom: 0;
}
span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5vw;
    height: 0.5vw;
    background: #f3f3edce;
    border-radius: 50%;
    box-shadow: 0 0 2px 4px rgba(255,255,255,0.1),
    0 0 2px 8px rgba(255,255,255,0.1),
    0 0 20px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}

span::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#f3f3edce,
    transparent);
}

@keyframes animate {
    0% 
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 0.5;
    }
    100% 
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1) {
    top: 0;
    left: 130vw;
    animation-delay: 0;
    animation-duration: 5s;
}

span:nth-child(2) {
    top: -10px;
    left: 16vw;
    animation-delay: -2s;
    animation-duration: 3s;
}

span:nth-child(3) {
    top: -10px;
    left: 37vw;
    animation-delay: -4s;
    animation-duration: 1.5s;
}

span:nth-child(4) {
    top: -10px;
    left: 69vw;
    animation-delay: -2.5s;
    animation-duration: 2.2s;
}

span:nth-child(5) {
    top: -10px;
    left: 92vw;
    animation-delay: 2.3s;
    animation-duration: 2s;
}

span:nth-child(6) {
    top: -10px;
    left: 159vw;
    animation-delay: -0.5s;
    animation-duration: 1.9s;
}

span:nth-child(7) {
    top: -10px;
    left: 123vw;
    animation-delay: -2s;
    animation-duration: 2.3s;
}