body {
    text-align: center;
    margin: 0;
    align-items: center;
}
h1{
    font-family: 'Italiana', sans-serif;
}
p {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    padding-bottom: 2rem;
}
hr {
    width: 20%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.736);
    border-style: solid;
    border-radius: 70%;
}
.top-container {
    background-color: #50577A;
    position: relative;
    height: 725px;
}
.top-container .moon {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background: #f3f3edce;
    box-shadow: 0 0 25px 15px #f3f3ed85;
    position: absolute;
    left: 15%;
    top: 15%
}
.intro {
    position: absolute;
    top: 38%;
    left: 25.45%;
}
.name {
    color: #EFF5F5;
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 0 0 4px#f3f3edb5;
    margin: 0;
}
.name-sub {
    margin: 0;
    font-family: montserrat;
    font-size: 1.3rem;
    color: #8696b3;
    letter-spacing: 6px;
    text-shadow: none;
}
.mountain {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.middle-container {
    padding-top: 3%;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 3%;
}
.avatar {
    width: 50%; 
}
.contact .avatar{
    padding-top: 5%;
}

.btn {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Italiana;
    color: #ffffff;
    font-size: 20px;
    background-color: #50577A;
    padding: 15px 110px 15px 110px;
    text-decoration: none;
    transition: background-color 0.4s 0.5ms;
    letter-spacing: 0.1rem;
  }
.btn:hover {
    background-color: #68709a;
    text-decoration: none;
}

.bottom-container {
    font-family: 'Montserrat';
    padding: 2%;
    margin-top: 1.5rem;
    background-color: #50577A;
    padding-bottom: 1%;
}
.icon {
    font-size: 2rem;
    color: #c4cedf;
    text-decoration: none;
    transition: color 0.4s 0.5ms;
    margin: 0 2.5rem;
    padding-bottom: 0;
}
.icon:hover {
    color: #ffffff;
}
.copyright {
    font-size: 0.5vw;
    color: #c4cedf;
    padding-bottom: 0;
    margin-bottom: 0;
}

  